* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#csv_file {
    margin-top: 15px;
}

#upload {
    margin-top: 10px;
}

form div label {
    margin: 20px 0 10px;
}

#csv_file_data {
    margin-top: 40px;

}